body {
    margin: 0;
    background-color: rgba(88, 88, 88, 0.059);
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
  }
  
  #nav-tablet {
    display: flex;
  }
  
  #nav-mobile {
    display: none;
  }
  
  nav {
    background-color: white;
    padding: 5px 30px;
    display: flex;
    justify-content: end;
    box-shadow: 1px 3px 5px 0px rgba(87, 87, 87, 0.75);
    -webkit-box-shadow: 1px 3px 5px 0px rgba(87, 87, 87, 0.75);
    -moz-box-shadow: 1px 3px 5px 0px rgba(87, 87, 87, 0.75);
    position: sticky;
    top: 0;
    /* width: 100%; */
  }
  
  nav ul {
    display: flex;
    list-style-type: none;
    /* max-width: 80%; */
  }
  
  nav ul li {
    margin-left: 15px;
  }
  
  nav ul li a {
    text-transform: uppercase;
    text-decoration: none;
    color: rgb(54, 54, 54);
  }
  
  .content {
    padding: 0 50px;
  }
  
  /* section profile */
  .profile {
    background-color: white;
    display: flex;
    /* flex-direction: row; */
    padding: 20px;
    padding-bottom: 80px;
    align-items: center;
    margin-top: 50px;
    box-shadow: 1px 1px 5px 3px rgba(87, 87, 87, 0.68);
    -webkit-box-shadow: 1px 1px 5px 3px rgba(87, 87, 87, 0.68);
    -moz-box-shadow: 1px 1px 5px 3px rgba(87, 87, 87, 0.68);
  }
  
  .left {
    margin-right: 80px;
    display: flex;
    align-items: center; 
    font-size: 16px;
    width: 400px;
  
  }
  
  .left img {
    margin-right: 30px;
    margin-left: 50px;
    width: 130px;
    height: 130px;
    border-radius: 100px;
  }
  
  /* .left .btn-container {
    width: 100px;
  } */
  
  .left .name-group {
    height: 170px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
  }
  
  .left .name {
    font-weight: bold;
    font-size: 25px;
  }
  
  .left .work {
    font-size: 12px;
    margin-top: -20px;
  }
  
  .left .btn-left,
  .left .btn-right {
    padding: 8px 18px;
    border-radius: 4px;
    border: none;
  }
  
  .left .btn-left {
    background-color: blue;
    color: white;
  }
  
  .left .btn-right {
    background-color: white;
    color: green;
    border: 1px solid green;
  }
  
  .right {
    display: flex;
    font-size: 12px;
    height: 130px;
    
  }
  
  .right-title {
    margin-right: 30px;
  }
  
  .right-title p {
    font-weight: bold;
  }
  
  form {
    margin-top: 40px;
    width: 100%;
    margin-bottom: 300px;
  }
  
  form div input {
    width: 100%;
    padding: 5px;
    margin-bottom: 10px;
  }
  
  form button {
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: green;
    color: white;
    border: none;
  }
  
  .form-text{
    font-weight: bold;
    font-size: 12px;
    margin-bottom: 20px;
  }
  
  @media only screen and (max-width: 740px) {
    #nav-tablet {
      display: none;
    }
  
    #nav-mobile {
      display: block;
    }
  
    nav {
      background-color: white;
      width: 100%;
    }
  
    .content {
      padding: 0;
      width: 100vw;
    }
  
    .profile {
      margin-left: 9px;
      flex-direction: column;
      width: 100vw;
      justify-content: center;
      align-items: center;
      background-color: orange;
      border-radius: 10px;
    }
  
    .left {
      flex-direction: column;
      margin: 0 auto;
    }
  
    .left .name-work {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
  
    form .form-text{
      margin-left: 35px;
    }
  
    form button{
      margin-left: 35px;
      width: 100px;
      margin-left: 50%;
    }
  
  
  
    .right {
      margin-top: 20px;
      /* margin: 0 auto; */
    }
  }
  